a {
    text-decoration: none;
}
.TicTacToe {
    margin: auto;
    object-position: center;
    /* margin-right: 12.5%; */
    width: 308px;
    /* margin-left: 12.5%; */
    display: block;
}
tr {
    margin: 2px;
}
td {
    width: 100px;
    height: 100px;
    margin: 2%;
    text-size-adjust: 100px;
    text-align: center;
    font-size: 70px;
}
#TicTacTitle {
    width: 310px;
    text-align: center;
    scroll-margin: inherit;
}
.boardTable {
    border-collapse: collapse;
    position: inherit;
    width: 308px;
    height: 308px;
}
.boardTable tr:first-child {
    border-bottom: 2px solid black;
}
.boardTable tr:last-child {
    border-top: 2px solid black;
}
.boardTable tr td:first-child {
    border-right: 2px solid black;
}
.boardTable tr td:last-child {
    border-left: 2px solid black;
}
.TicTacButton , .TicTacComp {
    display: inline-block;
    margin-top: 1%;
}
.TicTacButton {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 12%;
}
.TicTacComp {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 10%;
}