a {
    text-decoration: none;
}

.TicTacToe {
    width: 310px;
    height: 357px;
    margin: auto;
}

tr {
    margin: 2px;
}

td {
    width: 100px;
    height: 100px;
    margin: 2%;
    text-size-adjust: 100px;
    text-align: center;
}

#TicTacTitle {
    width: 310px;
    text-align: center;
    scroll-margin: inherit;
}

.boardTable {
    border-collapse: collapse;
    position: inherit;
    margin: inherit;
    width: 308px;
    height: 308px;
    left: 10%;
    right: 10%;
}

.boardTable tr:first-child {
    border-bottom: 2px solid black;
}

.boardTable tr:last-child {
    border-top: 2px solid black;
}

.boardTable tr td:first-child {
    border-right: 2px solid black;
}

.boardTable tr td:last-child {
    border-left: 2px solid black;
}

.TicTacButton {
    position: inherit;
    object-position: unset;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.endgame {
    display: none;
    width: 200px;
    top: 120px;
    background-color: rgba(205, 133, 63, 0.8);
    position: relative;
    left: 50%;
    margin-left: -100px;
    padding-top: 49px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}