.TicTacToe {
    width: 310px;
}

tr {
    margin: 2px;
}

td {
    width: 100px;
    height: 100px;
    margin: 2%;
    text-size-adjust: 100px;
    text-align: center;
}

#TicTacTitle {
    width: 310px;
    text-align: center;
}

#boardTable {
    border-collapse: collapse;
}

tr:first-child {
    border-bottom: 2px solid black;
}

tr:last-child {
    border-top: 2px solid black;
}

td:first-child {
    border-right: 2px solid black;
}

td:last-child {
    border-left: 2px solid black;
}